@use '../abstracts' as *;

@each $margin, $numbs in $margins {
  @if $margin == m {
    @each $numb, $value in $numbs {
      .#{$margin}-#{$numb} {
        margin: #{$value};
      }
    }
  } @else if $margin == mt {
    @each $numb, $value in $numbs {
      .#{$margin}-#{$numb} {
        margin-top: #{$value};
      }
    }
  } @else if $margin == mr {
    @each $numb, $value in $numbs {
      .#{$margin}-#{$numb} {
        margin-right: #{$value};
      }
    }
  } @else if $margin == mb {
    @each $numb, $value in $numbs {
      .#{$margin}-#{$numb} {
        margin-bottom: #{$value};
      }
    }
  } @else if $margin == ml {
    @each $numb, $value in $numbs {
      .#{$margin}-#{$numb} {
        margin-left: #{$value};
      }
    }
  } @else if $margin == mx {
    @each $numb, $value in $numbs {
      .#{$margin}-#{$numb} {
        margin-left: #{$value};
        margin-right: #{$value};
      }
    }
  } @else if $margin == my {
    @each $numb, $value in $numbs {
      .#{$margin}-#{$numb} {
        margin-top: #{$value};
        margin-bottom: #{$value};
      }
    }
  }
}

@each $padding, $numbs in $paddings {
  @if $padding == p {
    @each $numb, $value in $numbs {
      .#{$padding}-#{$numb} {
        padding: #{$value};
      }
    }
  } @else if $padding == pt {
    @each $numb, $value in $numbs {
      .#{$padding}-#{$numb} {
        padding-top: #{$value};
      }
    }
  } @else if $padding == pr {
    @each $numb, $value in $numbs {
      .#{$padding}-#{$numb} {
        padding-right: #{$value};
      }
    }
  } @else if $padding == pb {
    @each $numb, $value in $numbs {
      .#{$padding}-#{$numb} {
        padding-bottom: #{$value};
      }
    }
  } @else if $padding == pl {
    @each $numb, $value in $numbs {
      .#{$padding}-#{$numb} {
        padding-left: #{$value};
      }
    }
  } @else if $padding == px {
    @each $numb, $value in $numbs {
      .#{$padding}-#{$numb} {
        padding-left: #{$value};
        padding-right: #{$value};
      }
    }
  } @else if $padding == py {
    @each $numb, $value in $numbs {
      .#{$padding}-#{$numb} {
        padding-top: #{$value};
        padding-bottom: #{$value};
      }
    }
  }
}

@each $bg, $value in $colors {
  .bg-#{$bg} {
    background-color: #{$value};
  }
}

.rotate-n-15 {
  transform: rotate(-15deg);
}

.bg-gradient-dark {
  background: linear-gradient(
    to bottom,
    var(--dark-color),
    var(--darker-color)
  );
  box-shadow: 0 2px 10px rgba($color: var(--darkest-color), $alpha: 0.2);
}
.bg-dark-light {
  background: linear-gradient(to bottom, var(--darkest-color), transparent) 20%;
}

.body-pd {
  padding-left: calc(var(--sidebar-width) + 1rem) !important;
  @include mq(md) {
    padding-left: calc(var(--sidebar-width) + 10.75rem) !important;
  }
}

.content {
  color: var(--white-color);
  padding: 0.25rem;
}

.card-icon {
  font-size: 2.5rem;
  color: var(--primary-color);
}

.card-more {
  padding: 0.5rem 0;
  border-radius: 1rem;
  cursor: pointer;
  i {
    font-size: 1.25rem;
  }
}
