@use '../abstracts' as *;

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0 1rem;
  font-family: "Poppins", sans-serif;
  font-size: map-get($map: $fonts-size, $key: normal);
  transition: 0.5s;
  background-color: var(--darkest-color);
  @include mq(md) {
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--sidebar-width) + 1rem);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 400;
  line-height: 1.2;
}

dl,
ol,
ul {
  list-style: none;
  margin-bottom: 0 !important;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}
