@use '../abstracts' as *;

:root {
  @each $color, $value in $colors {
    --#{$color}-color: #{$value};
  }

  @each $breakpoint, $value in $breakpoints {
    --breakpoint-#{$breakpoint}: #{$value};
  }

  --header-height: 4.375rem;
  --sidebar-width: 4rem;
  --z-fixed: 100;
}
