@use '../abstracts' as *;

.sidebar {
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--sidebar-width);
  height: 100vh;
  background-color: var(--darker-color);
  padding: 0.75rem 1rem 0 0;
  z-index: var(--z-fixed);
  transition: 0.5s;
  @include mq(md) {
    left: 0;
    padding: 1rem 1rem 0 0;
  }
  &.show {
    left: 0;
    @include mq(md) {
      width: calc(var(--sidebar-width) + 9.75rem);
    }
  }
  .nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    .nav-logo,
    .nav-link {
      display: grid;
      grid-template-columns: max-content max-content;
      align-items: center;
      column-gap: 1.5rem;
      padding: 0.5rem 0 0.5rem 1.5rem;
      .brand-icon {
        font-size: 1.75rem;
      }
      .sidebar-brand {
        font-weight: 700;
        font-size: 1.125rem;
      }
    }
    .nav-list {
      position: relative;
      width: 12.25rem;
    }
    .nav-link {
      position: relative;
      color: var(--secondary-color);
      margin-bottom: 1rem;
      transition: 0.3s;
      cursor: pointer;
      width: 100%;
      @include mq(md) {
        column-gap: 1rem !important;
      }
      &::before {
        position: absolute;
        content: "";
        width: 2px;
        height: 2rem;
        left: 0;
        top: 50%;
        background-color: var(--primary-color);
        transform: translateY(-50%);
        display: none;
      }
      &:hover,
      &.active {
        &::before {
          display: inline-block;
        }
        font-weight: 500;
      }
      .nav-icon {
        font-size: 1.25rem;
      }
    }
    .nav-logo {
      margin-bottom: 2rem;
      color: var(--primary-color);
      justify-content: center;
      padding-left: 1.25rem !important;
      @include mq(md) {
        column-gap: 0.5rem !important;
      }
    }
    .collapse {
      grid-template-columns: 1.25rem max-content 1fr;
      &.show {
        margin-bottom: 0.25rem !important;
        .collapse-toggle {
          transform: rotate(90deg);
        }
      }
      .collapse-toggle {
        justify-self: flex-end;
        transition: 0.3s;
        font-size: 1.25rem;
      }
    }
    .collapse-menu {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 10.75rem;
      height: 0;
      padding: 0 2.25rem;
      margin: 0 1.5rem;
      background: linear-gradient(
        to bottom,
        var(--black-color),
        var(--darkest-color)
      );
      border-radius: 0.5rem;
      overflow: hidden;
      transition: none;
      &.active {
        height: auto;
        padding: 1rem 2.25rem;
        margin-bottom: 1rem !important;
      }
      .collapse-item {
        font-size: map-get($map: $fonts-size, $key: small);
        color: var(--primary-color);
        margin-bottom: 0.5rem;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
