@use '../abstracts' as *;

.sidebar {
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--sidebar-width);
  height: 100vh;
  background-color: var(--darker-color);
  padding: 0.75rem 1.5rem 0 1.5rem;
  z-index: var(--z-fixed);
  transition: 0.5s;
  @include mq(lg) {
    width: calc(var(--sidebar-width) + 11.75rem);
  }
  &.show {
    left: 0;
  }
  .nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    .nav-logo,
    .nav-link {
      display: grid;
      grid-template-columns: max-content max-content;
      align-items: center;
      column-gap: 1rem;
      padding: 0.5rem 0 0.5rem;
      .brand-icon {
        font-size: 1.75rem;
      }
      .sidebar-brand {
        font-weight: 700;
        font-size: 1.125rem;
      }
    }
    .nav-link {
      position: relative;
      color: var(--secondary-color);
      margin-bottom: 1rem;
      transition: 0.3s;
      border-radius: 0.5rem;
      padding: 0.75rem;
      cursor: pointer;
      &:hover,
      &.active {
        color: var(--primary-color);
        background: linear-gradient(
          to bottom,
          var(--black-color),
          var(--darkest-color)
        );
        font-weight: 500;
      }
      .nav-icon {
        font-size: 1.25rem;
      }
    }
    .nav-logo {
      margin-bottom: 2rem;
      color: var(--primary-color);
      justify-content: center;
    }
    .collapse {
      grid-template-columns: 1.25rem max-content 1fr;
      .collapse-toggle {
        justify-self: flex-end;
        transition: 0.3s;
        font-size: 1.25rem;
        &.active {
          transform: rotate(90deg);
        }
      }
      .collapse-menu {
        display: none;
        padding: 0.75rem 2.25rem 0;
        flex-basis: 1;
        &.active {
          display: block;
        }
        .collapse-link {
          color: var(--secondary-color);
          font-size: map-get($map: $fonts-size, $key: small);
          font-weight: 400 !important;
        }
      }
    }
  }
}
